@tailwind base;
@tailwind components;
th,
td {
	border: 1px solid #ccc;
	padding: 0.5em;
	width: 50%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
@tailwind utilities;
